# Editor and IDE configuration
.idea/
.vscode/
.obsidian/
REDEME.md
*.swp

# Dependencies
node_modules/
site-package/
deps/

# Python specific
__pycache__/
*.pyc
*.pyo
.env

# Build artifacts
build/
dist/

# Log files
*.log

# others
assets/custom/testassets/custom/test/
